/*html{-moz-user-select:none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}*/
.logo{margin:4em 0 4em 0;height:2.5em;}
#nav{z-index:99;opacity:0.96;position:absolute;left:0;top:0;height:100%;width:100%;background-color:white;}
.nav-items{height:20em;width:10em;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:999;text-align:center;}
.menubutton{font-size:3em;position:absolute;top:1em;right:1em;cursor:pointer;z-index:99;}
div.nav-items a{color:#ecac7a;text-decoration:none;}
/*.contact{background:#e9ab7a url("/assets/images/me.jpg");background-position:right;background-size:cover;color:white;padding:3em;line-height:0.9em;border-style: solid;border-width:1em;}*/
.contact{background:#e9ab7a;color:white;padding:3em;line-height:0.9em;border-style: solid;border-width:1em;}
.article-container{position:relative;margin:0 10px 0 0 !important;}
.featured-image{max-width:100%;max-height:100%;}
.article-title{position:absolute;top:50%;transform:translateY(-50%);text-align:center;width:100%;font-weight:800;color:white;}
.article-page-title{font-weight:900;text-transform:uppercase;}
.article-image{width:100%;}
.pagination{text-align:center;margin-top:3em;}
.pagination a{text-decoration:none;}
footer{margin-top:2em;}
.container{position:relative;width:100%;max-width:960px;margin:0 auto 10em auto;padding:0 20px;box-sizing:border-box;}
.column,
.columns{width:100%;float:left;box-sizing:border-box;}
@media (min-width:400px){.container{width:85%;padding:0;}
}
@media (min-width:550px){.container{width:80%;}
.column,
.columns{margin-left:4%;}
.column:first-child,
.columns:first-child{margin-left:0;}
.one.column,
.one.columns{width:4.66666666667%;}
.two.columns{width:13.3333333333%;}
.three.columns{width:22%;}
.four.columns{width:30.6666666667%;}
.five.columns{width:39.3333333333%;}
.six.columns{width:48%;}
.seven.columns{width:56.6666666667%;}
.eight.columns{width:65.3333333333%;}
.nine.columns{width:74.0%;}
.ten.columns{width:82.6666666667%;}
.eleven.columns{width:91.3333333333%;}
.twelve.columns{width:100%;margin-left:0;}
.one-third.column{width:30.6666666667%;}
.two-thirds.column{width:65.3333333333%;}
.one-half.column{width:48%;}
.offset-by-one.column,
.offset-by-one.columns{margin-left:8.66666666667%;}
.offset-by-two.column,
.offset-by-two.columns{margin-left:17.3333333333%;}
.offset-by-three.column,
.offset-by-three.columns{margin-left:26%;}
.offset-by-four.column,
.offset-by-four.columns{margin-left:34.6666666667%;}
.offset-by-five.column,
.offset-by-five.columns{margin-left:43.3333333333%;}
.offset-by-six.column,
.offset-by-six.columns{margin-left:52%;}
.offset-by-seven.column,
.offset-by-seven.columns{margin-left:60.6666666667%;}
.offset-by-eight.column,
.offset-by-eight.columns{margin-left:69.3333333333%;}
.offset-by-nine.column,
.offset-by-nine.columns{margin-left:78.0%;}
.offset-by-ten.column,
.offset-by-ten.columns{margin-left:86.6666666667%;}
.offset-by-eleven.column,
.offset-by-eleven.columns{margin-left:95.3333333333%;}
.offset-by-one-third.column,
.offset-by-one-third.columns{margin-left:34.6666666667%;}
.offset-by-two-thirds.column,
.offset-by-two-thirds.columns{margin-left:69.3333333333%;}
.offset-by-one-half.column,
.offset-by-one-half.columns{margin-left:52%;}
}
html{font-size:62.5%;}
body{font-size:1.5em;line-height:1.6;font-weight:400;font-family:"Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#222;}
h1, h2, h3, h4, h5, h6{margin-top:0;margin-bottom:2rem;font-weight:300;}
h1{font-size:4.0rem;line-height:1.2;letter-spacing:-.1rem;}
h2{font-size:3.6rem;line-height:1.25;letter-spacing:-.1rem;}
h3{font-size:3.0rem;line-height:1.3;letter-spacing:-.1rem;}
h4{font-size:2.4rem;line-height:1.35;letter-spacing:-.08rem;}
h5{font-size:1.8rem;line-height:1.5;letter-spacing:-.05rem;}
h6{font-size:1.5rem;line-height:1.6;letter-spacing:0;}
@media (min-width:550px){h1{font-size:5.0rem;}
h2{font-size:4.2rem;}
h3{font-size:3.6rem;}
h4{font-size:3.0rem;}
h5{font-size:2.4rem;}
h6{font-size:1.5rem;}
}
p{margin-top:0;}
a{color:#1EAEDB;}
a:hover{color:#0FA0CE;}
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"]{display:inline-block;height:38px;padding:0 30px;color:#555;text-align:center;font-size:11px;font-weight:600;line-height:38px;letter-spacing:.1rem;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box;}
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus{color:#333;border-color:#888;outline:0;}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary{color:#FFF;background-color:#33C3F0;border-color:#33C3F0;}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus{color:#FFF;background-color:#1EAEDB;border-color:#1EAEDB;}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #D1D1D1;border-radius:4px;box-shadow:none;box-sizing:border-box;}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px;}
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus{border:1px solid #33C3F0;outline:0;}
label,
legend{display:block;margin-bottom:.5rem;font-weight:600;}
fieldset{padding:0;border-width:0;}
input[type="checkbox"],
input[type="radio"]{display:inline;}
label > .label-body{display:inline-block;margin-left:.5rem;font-weight:normal;}
ul{list-style:circle inside;}
ol{list-style:decimal inside;}
ol, ul{padding-left:0;margin-top:0;}
ul ul,
ul ol,
ol ol,
ol ul{margin:1.5rem 0 1.5rem 3rem;font-size:90%;}
li{margin-bottom:1rem;}
code{padding:.2rem .5rem;margin:0 .2rem;font-size:90%;white-space:nowrap;background:#F1F1F1;border:1px solid #E1E1E1;border-radius:4px;}
pre > code{display:block;padding:1rem 1.5rem;white-space:pre;}
th,
td{padding:12px 15px;text-align:left;border-bottom:1px solid #E1E1E1;}
th:first-child,
td:first-child{padding-left:0;}
th:last-child,
td:last-child{padding-right:0;}
button,
.button{margin-bottom:1rem;}
input,
textarea,
select,
fieldset{margin-bottom:1.5rem;}
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form{margin-bottom:2.5rem;}
.u-full-width{width:100%;box-sizing:border-box;}
.u-max-full-width{max-width:100%;box-sizing:border-box;}
.u-pull-right{float:right;}
.u-pull-left{float:left;}
hr{margin-top:3rem;margin-bottom:3.5rem;border-width:0;border-top:1px solid #E1E1E1;}
.container:after,
.row:after,
.u-cf{content:"";display:table;clear:both;}
@media (min-width:400px){}
@media (min-width:550px){}
@media (min-width:750px){}
@media (min-width:1000px){}
@media (min-width:1200px){}
