---
layout: default

# This is the template for a page. It uses the layout default.html.
---

      <div class="one-half column">
        <!-- Page title -->
        <h4 class="article-page-title" style="margin-top: 25%">{{page.title}}</h4>
        <!-- Page content -->
        <p>{{content}}</p>
      </div>
    </div>
    </div>